.tabla {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid gray;
}

.tabla th,
.tabla td {
  padding: 12px;
  border-bottom: 1px solid gray;
  text-align: left;
}

.tabla th {
  background: lightgreen;
}

.tabla tbody tr:nth-child(odd) {
  background: lightgray;
}